<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <div class="h2 d-block mb-0">rorBlog</div>
      <span class="text-xs text-muted text-uppercase">blog for blogger</span>
    <% end %>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <form class="d-flex my-2 my-lg-0 m-auto w-50">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Publish Post', new_post_path, class: 'btn btn-sm btn-primary my-2 me-4' %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle me-2" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownId">
            <% if user_signed_in? %>
              <%= link_to 'Add Category', new_category_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'All Category', categories_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mt-1" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownId">
            <% if user_signed_in? %>
              <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path, class: 'dropdown-item' %>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>