<div class="col-md-4">
  <div class="card">
    <div class="card-body py-1 bg-light">
      <h4 class="card-title"><h4>Categories</h4></h4>
    </div>
    <ul class="list-group list-group-flush">
      <% @categories.each do |cat| %>
      <li class="list-group-item d-flex justify-content-between">
        <span><%= cat.name %></span>
        <span><%= cat.posts.count %></span>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="card my-4">
    <div class="card-body bg-light">
      <h4 class="card-title">Top Author</h4></h4>
      <div class="row justify-content-center">
      <% @users.each do |user| %>
        <div class="col-md-6">
          <div>
            <% if user.avatar.attached? %>
              <%= cl_image_tag user.avatar.variant(:sidebaricon).key, alt: "#{user.avatar.filename}", class: 'rounded-circle' %>
            <% end %>
          </div>
          
          <div class="text-center">
            <div>
              <%= user.email[/[^@]+/] %>
            </div>
            <div>
              <i class="bi bi-pencil-square"></i> <%= user.posts.count %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</div>