<%= render 'shared/navbar' %>

<div class="container my-5">
  <div class="row my-5">
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="col">
            <% if @fet_post.featured_image.attached? %>
              <% if @fet_post.featured_image.image? %>
                <%= link_to image_tag(@fet_post.featured_image.variant(:herothumb), class: 'card-img-top', alt: "#{@fet_post.featured_image.filename}"), post_path(@fet_post) %>
              <% elsif @fet_post.featured_image.video? %>
                <%= link_to post_path(@fet_post) do %>
                <video autoplay muted controls>
                  <source src="<%= rails_blob_url(@fet_post.featured_image) %>" type="<%= @fet_post.featured_image.content_type %>">
                </video>
                <% end %>
              <% else %>
                <%= link_to post_path(@fet_post) do %>
                  <%= image_tag 'pdf.jpg', alt: "Download file", class: 'card-img-top' %>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div class="col">
            <div class="card-body">
              <h2 class="card-title"><%= link_to @fet_post.title, post_path(@fet_post), class: 'text-decoration-none fw-bold' %></h2>
              <div class="text-xs text-danger mb-3">
                <span>
                  Category - 
                  <%= @fet_post.category.name %>
                  | 
                </span>
                <span>
                  Published 
                  <%= time_ago_in_words(@fet_post.created_at) %>
                  ago
                </span>
              </div>
              <p class="card-text"><%= truncate(strip_tags(@fet_post.content.to_s), length: 200) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="posts">
      <% @posts.each do |post| %>
        <div class="card mb-3" id="<%= dom_id post %>">
          <% if post.featured_image.attached? %>
            <% if post.featured_image.image? %>
              <%= link_to image_tag(post.featured_image.variant(:widethumb), class: 'card-img-top', alt: "#{post.featured_image.filename}"), post_path(post) %>
            <% elsif post.featured_image.video? %>
              <%= link_to post_path(post) do %>
              <video autoplay muted controls>
                <source src="<%= rails_blob_url(post.featured_image) %>" type="<%= post.featured_image.content_type %>">
              </video>
              <% end %>
            <% else %>
              <%= link_to post_path(post) do %>
                <%= image_tag 'pdf.jpg', alt: "Download file", class: 'card-img-top' %>
              <% end %>
            <% end %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to truncate(post.title, length: 50), post_path(post), class: 'text-decoration-none' %></h4>
            <p class="card-text"><%= truncate(strip_tags(post.content.to_s), length: 75) %></p>
          </div>
          <div class="card-footer text-xs d-flex justify-content-between">
            <div class="me-2">Posted <%= time_ago_in_words(post.created_at) %> ago</div>
            <div class="badge bg-secondary">
              Comments - 
              <%= post.comments.count %>
            </div>
            <div class="me-2">Category - <%= post.category.name %></div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body py-1 bg-light">
          <h4 class="card-title"><h4>Categories</h4></h4>
        </div>
        <ul class="list-group list-group-flush">
          <% @categories.each do |cat| %>
          <li class="list-group-item d-flex justify-content-between">
            <span><%= cat.name %></span>
            <span><%= cat.posts.count %></span>
          </li>
          <% end %>
        </ul>
      </div>
      
    </div>
  </div>
</div>