<%= render 'shared/navbar' %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <div id="categories">
      <% @categories.each do |category| %>
        <div class="card mb-3" id="<%= dom_id category %>">
        <%= turbo_frame_tag "category_#{category.id}" do %>
          <div class="card-body">
            <h4 class="card-title">
              <%= category.name  %>
            </h4>
          </div>
          <div class="card-footer text-xs">
            <span class="me-2">Posted <%= time_ago_in_words(category.created_at) %> ago</span>
            | 
            <% if current_user %>
              <%= link_to 'Edit', edit_category_path(category) %>
              |
            <% end %>
            <span>Number Of Posts - <%= category.posts.count %></span>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>