<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rorblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name='title' content= "ruby on rails blog"/>
    <meta name="description" content="Author: A.N. Author,
    Illustrator: P. Picture, Category: Books, Price: $17.99,
    Length: 784 pages">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
   

    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
